{% extends "PostBundle::base.html.twig" %}

{% block title %}PostBundle:Post:index{% endblock %}

{% block body %}

<h1>Nouveau post</h1>	

  <form action="">
    <div class="form-group">
      <label for="title">Title</label>
      <input placeholder="Add new title" id="title" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="body">body</label>
      <textarea placeholder="Add here new body" name="body" id="body" rows="10" class="form-control"></textarea>
    </div>

    <button class="btn btn-block btn-success">Add</button>
  </form>

{% endblock %}
