{% extends "PostBundle::base.html.twig" %}

{% block title %}PostBundle:Post:index{% endblock %}

{% block body %}

<h1>le contenu</h1>	

   <div align="right"><a href="{{ path('post-create') }}" class="btn btn-primary">Add</a></div>
    
     <ul class="list-group">
     	{% for post in posts %}
     	  <li class="list-group-item">
     	  	<h2>{{ post.title }}</h2>
     	  	<p>{{ post.content }}</p>
           
           <div align="right">
           	<a href="{{ path('post-show', {'id': loop.index0}) }}" class="btn btn-default">Show</a>
     	  	<a href="" class="btn btn-warning">Edit</a>
     	  	<a href="" class="btn btn-danger">Detete</a>
           </div>
     	  	
     	  </li>
     	{% endfor %}
     </ul>

{% endblock %}
